@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --toast-backdrop: blur(10px);
  --toast-bg: #64748b51;
  --toast-text: #e2e8f0;

  --toast-loading-bg: #64748b51;
  --toast-loading-text: #e2e8f0;

  /* --toast-success-bg: #34d399; */
  --toast-success-text: #34d399;

  /* --toast-error-bg: #ef4444; */
  --toast-error-text: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-gradient: gradient 15s ease infinite;

  /* Define the keyframes for 'gradient' */
  @keyframes gradient {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
